<div class="container pt-4">
  <div class="row">
    <div class="col">
      <h2 class="spot-title"><%= @spot.name %></h2>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col">
      <p class="spot-address"><%= @spot.address %> | Flat Score: <%= @spot.score_flat %> | Popularity Score: <%= @spot.score_popularity %></p>
    </div>
  </div>
  <div class="row pt-2">
    <% if @spot.photos.attached? %>
    <div class="col-7">
      <%= image_tag(@spot.photos.first,  class: "photo-spot d-block w-100") %>
    </div>
    <div class="col-4">
      <div class="row">
        <%= image_tag(@spot.photos.all[1],  class: "photo-spot-later d-block w-100") %>
      </div>
      <div class="row lower-photo">
        <%= image_tag(@spot.photos.all[1],  class: "photo-spot-later d-block w-100") %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="videotricks-container">
  <h2>All the tricks made at <%= @spot.name %></h2>
    <% @allvideotricks.each do |videotrick| %>
      <%= videotrick.content %>
      <%= cl_video_tag (videotrick.video.key), id: "videotricks", width: "200px", height: "200px", controls: false, autoplay:true, loop:true, muted:true %>
    <% end %>
  </div>
  <%= render "videotricks/form" %>
</div>
