<div class="container-top">
  <div class="spot-presentation row">
    <div class="spot-description row pt-4">
      <h2 class="spot-title"><%= @spot.name %></h2>
      <p class="spot-address"><%= @spot.address %> </p>
      <p><%= @spot.score_flat %> </p>
    </div>
    <div class="photo-spots-container spot-photo-show">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% if @spot.photos.attached? %>
            <div class="carousel-item active">
              <%= image_tag(@spot.photos.first,  class: "photo-spot d-block w-100") %>
            </div>
            <% @spot.photos.all[1..-1].each do |illustration| %>
              <div class="carousel-item">
                <%= image_tag(illustration, class: "photo-spot d-block w-100") %>
              </div>
            <% end %>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="videotricks-container">
  <h2>All the tricks made at <%= @spot.name %></h2>
    <% @allvideotricks.each do |videotrick| %>
      <%= videotrick.content %>
      <%= cl_video_tag (videotrick.video.key), id: "videotricks", width: "200px", height: "200px", controls: false, autoplay:true, loop:true, muted:true %>
    <% end %>
  </div>
  <%= render "videotricks/form" %>
</div>
