<div class="container pt-4">
  <div class="row">
    <div class="col">
      <h2 class="spot-title"><%= @spot.name %></h2>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col spot-desc-score">
      <p class="spot-address"><%= @spot.address %> | Flat Score: <%= @spot.score_flat %> | Popularity Score: <%= @spot.score_popularity %></p>
      <%= link_to 'Back to spots', spots_path, class:"green-link" %>
    </div>
  </div>

  <div class="row pt-2">
    <% if @spotphotos.empty? %>
    Be the first to leave a photo for <%= @spot.name %>
    <% else %>
      <% @spotphotos.each_with_index do |spotphoto, index| %>
        <% if spotphoto.photo.attached? %>
          <% if index == 0 %>
            <div class="col-7">
              <%= cl_image_tag spotphoto.photo.key, class: "photo-spot d-block w-100" %>
            </div>
          <% elsif index == 1 %>
            <div class="col-4">
              <div class="row">
                <%= cl_image_tag spotphoto.photo.key, class: "photo-spot-later d-block w-100" %>
              </div>
              <% if @spotphotos.length > 2 %>
                <div class="row lower-photo">
                  <%= cl_image_tag @spotphotos[2].photo.key, class: "photo-spot-later d-block w-100" %>
                </div>
              <% else %>
                <div class="row lower-photo with-add-button">
                <%= link_to new_spot_spotphoto_path(@spot), class: "photo-spot-later btn-add-photo d-block w-100" do %>
                  <i class="fas fa-plus plus-icon fa-5x"></i>
                <% end %>
              <% end %>
            </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="title-video-show">
    <h2>Tricks made at <%= @spot.name %></h2>
    <%= link_to 'Add trick', new_spot_videotrick_path(@spot.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-ghost'}  %>
      <%= render "videotricks/form" %>
  </div>
  <div class="cards-videotricks">
    <% @allvideotricks.each do |videotrick| %>
    <div class="card-videotrick">
      <div class="videotrick-video">
        <%= cl_video_tag (videotrick.video.key), id: "videotricks", controls: true, autoplay:false, muted:true %>
      </div>
      <div class="videotrick-content">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
        <div class="videotrick-desc">
          <%= videotrick.content %>
        </div>
      </div>
    </div>


    <% end %>

  </div>




  <%= render "videotricks/form" %>
</div>
