<div id="banner">
  <div class="banner-content">
    <div class="banner-content-text">
      <h2>Find the best in-class skatespots in Paris</h2>
      <p>Post easily videos of your tricks among parisian skaters </p>
      <span class="spanny"><%= link_to "", spots_path, class: "spot-btn-home mt-2" %></span>
      <span class="spanny"><%= link_to "", skateshops_path, class: "shop-btn-home mt-2" %></span>
    </div>
    <%= image_tag("skateboard-banner.svg", class:"banner-content-image") %>
  </div>
</div>
<div class="container">
  <div class="home-bloc-title">
    <h2 class="green">Hello bitch</h2>
    <p>Post easily videos of your tricks among parisian skaters </p>
  </div>
  <div class="home-bloc">
    <div class="home-bloc-text">
    <h3 class="green">Find all the spots informations you want in Paris</h3>
    <p>Check the maps of spots in paris and find THE spot that suits your sesh. Check photos, flatground score, popularity score</p>
    <span class="spanny"><%= link_to "", spots_path, class: "spot-btn-home mt-2" %></span>
    </div>
    <%= image_tag("skateboard-banner.svg", class:"home-bloc-image") %>
  </div>

</div>





<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Git-TM"><i class="fab fa-github"></i></a>
    <a href="https://www.malt.fr/profile/tristanmonteiro"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/tristan-monteiro/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Made with <i class="fas fa-heart"></i> in Paris by lilorphi & Soonam</p>
  </div>
</div>
